<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ihces.barganha">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Facebook login permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_results"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomeActivity"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".AdvertiseActivity"
            android:label="@string/title_activity_advertise"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".MyAdsList"
            android:label="@string/title_activity_my_ads"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomeActivity"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".AdDetailsActivity"
            android:label="@string/title_activity_ad_details"
            android:screenOrientation="portrait"
            android:parentActivityName=".SearchResultsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".MyAdDetails"
            android:label="@string/title_activity_my_ad_details"
            android:screenOrientation="portrait"
            android:parentActivityName=".MyAdsList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".RecentSearchesActivity"
            android:label="@string/title_activity_recent_searches"
            android:screenOrientation="portrait"
            android:parentActivityName=".MyAdsList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".NegotiationActivity"
            android:label="@string/title_activity_negotiation"
            android:screenOrientation="portrait"
            android:parentActivityName=".MyAdsList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyAdsList" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>